<br><br>
<p id="header"><a href="http://thelegendteam.wordpress.com" title="The Legend Team" target="_blank"><img src="http://thelegendteam.files.wordpress.com/2012/05/altheader31.jpg" /></a></p>

<p>Hello, and welcome to <span id="TLT">The Legend Team</span> Game Builds!</p>
<p>Here, you will be able to play all the test game builds that <span id="TLT">The Legend Team</span> created before they made the decision to <a href="http://thelegendteam.wordpress.com/2012/11/27/the-legend-comes-to-an-end/" target="_blank" title="The Legend comes to an end">close down.</a><br>We kindly ask you that you do not rehost these builds, nor claim them as your own. These builds are <span>Copyright &copy; 2011-2012 <span id="TLT">The Legend Team.</span></span></p>